@font-face {
    font-family: "foxybuilder";
    src: url("./foxybuilder.eot?52dc07571125f48e6d3cc409ed0fc839#iefix") format("embedded-opentype"),
url("./foxybuilder.woff2?52dc07571125f48e6d3cc409ed0fc839") format("woff2"),
url("./foxybuilder.woff?52dc07571125f48e6d3cc409ed0fc839") format("woff");
}

i[class^="foxybdr-"]:before, i[class*=" foxybdr-"]:before {
    font-family: foxybuilder !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.foxybdr-fa-section:before {
    content: "\f101";
}
.foxybdr-logo:before {
    content: "\f102";
}
.foxybdr-logocircle:before {
    content: "\f103";
}
.foxybdr-nav-house:before {
    content: "\f104";
}
.foxybdr-nav-key:before {
    content: "\f105";
}
