.foxybdr-control {
    display: flex;
}

.foxybdr-control.foxybdr-control-multirow {
    flex-wrap: wrap;
}

    .foxybdr-control-prompt {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .foxybdr-control.foxybdr-control-multirow .foxybdr-control-prompt {
        width: 100%;
    }

        .foxybdr-control-prompt > div:nth-child(1) {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            padding: 8px 0px 0px 0px;
        }

            .foxybdr-control-prompt > div > .foxybdr-control-label {
                color: var(--foxybdr-general-t-color);
                font-family: var(--foxybdr-general-font);
                font-size: 12px;
                font-weight: normal;
                line-height: 1.0;
            }

            .foxybdr-control-prompt > div > .foxybdr-responsive-button {
                position: relative;
                display: none;
                color: var(--foxybdr-popup-input-bg-color);
                font-size: 12px;
                line-height: 1.0;
            }

            .foxybdr-control-prompt > div > .foxybdr-responsive-button.foxybdr-show {
                display: block;
            }

                .foxybdr-control-prompt > div > .foxybdr-responsive-button > .dashicons {
                    height: 12px;
                    display: inline-block;
                    font-size: 12px;
                    line-height: 1.0;
                }

                .foxybdr-control-prompt > div > .foxybdr-responsive-button .foxybdr-responsive-dropdown {
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    transform: translate(0%, -50%);
                    z-index: 10;
                    display: none;
                    border-radius: 2px;
                    background-color: var(--foxybdr-popup-input-bg-color);
                    color: var(--foxybdr-general-t-color);
                }

                .foxybdr-control-prompt > div > .foxybdr-responsive-button:hover .foxybdr-responsive-dropdown {
                    display: flex;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }

                    .foxybdr-control-prompt > div > .foxybdr-responsive-button:hover .foxybdr-responsive-dropdown > .dashicons {
                        position: relative;
                        height: 22px;
                        display: inline-block;
                        padding: 4px 0px;
                        font-size: 14px;
                        line-height: 1.0;
                        cursor: pointer;
                        transition: all linear 0.2s;
                    }

                    .foxybdr-control-prompt > div > .foxybdr-responsive-button:hover .foxybdr-responsive-dropdown > .dashicons:hover {
                        background-color: var(--foxybdr-general-t-color);
                        color: var(--foxybdr-popup-input-bg-color);
                    }

                    .foxybdr-control-prompt > div > .foxybdr-responsive-button:hover .foxybdr-responsive-dropdown > .dashicons:active {
                        top: 2px;
                    }

                    .foxybdr-control-prompt > div > .foxybdr-responsive-button:hover .foxybdr-responsive-dropdown > .dashicons:first-child {
                        border-radius: 2px 0px 0px 2px;
                    }

                    .foxybdr-control-prompt > div > .foxybdr-responsive-button:hover .foxybdr-responsive-dropdown > .dashicons:last-child {
                        border-radius: 0px 2px 2px 0px;
                    }

        .foxybdr-control-prompt > div:nth-child(2) {
            display: flex;
            align-items: flex-start;
            padding: 1px 0px 4px 0px;
        }

            .foxybdr-control-prompt > div > .foxybdr-unit-select {
                display: none;
                border-width: 0px;
                border-radius: 4px;
                padding: 4px;
                background-color: transparent;
                color: var(--foxybdr-general-t-color);
                font-family: var(--foxybdr-general-font);
                font-size: 12px;
                font-weight: normal;
                line-height: 1.0;
            }

            .foxybdr-control-prompt > div > .foxybdr-unit-select.foxybdr-show {
                display: block;
            }

            .foxybdr-control-prompt > div > .foxybdr-unit-select:hover {
                background-color: var(--foxybdr-input-bg-color);
                color: var(--foxybdr-input-t-color);
            }

                .foxybdr-control-prompt > div > .foxybdr-unit-select > option {
                    border-width: 0px;
                    background-color: var(--foxybdr-input-bg-color);
                    color: var(--foxybdr-input-t-color);
                }

    .foxybdr-control-input {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .foxybdr-control.foxybdr-control-multirow .foxybdr-control-input {
        width: 100%;
        padding-top: 4px;
    }

.foxybdr-input-text {
    width: 100%;
    border-width: 0px;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--foxybdr-input-bg-color);
    color: var(--foxybdr-input-t-color);
    font-family: var(--foxybdr-general-font);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.0;
}

.foxybdr-input-text::placeholder {
    color: var(--foxybdr-input-p-color);
}

.foxybdr-input-textarea {
    width: 100%;
    height: 60px;
    border-width: 0px;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--foxybdr-input-bg-color);
    color: var(--foxybdr-input-t-color);
    font-family: var(--foxybdr-general-font);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
}

.foxybdr-input-textarea::placeholder {
    color: var(--foxybdr-input-p-color);
}

.foxybdr-input-wysiwyg {
    width: 100%;
    height: 250px;
    border-width: 0px;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--foxybdr-input-bg-color);
    color: var(--foxybdr-input-t-color);
    font-family: var(--foxybdr-general-font);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
}

.foxybdr-input-wysiwyg::placeholder {
    color: var(--foxybdr-input-p-color);
}

.foxybdr-input-select {
    width: 100%;
    border-width: 0px;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--foxybdr-input-bg-color);
    color: var(--foxybdr-input-t-color);
    font-family: var(--foxybdr-general-font);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.0;
}

    .foxybdr-input-select > option {
        border-width: 0px;
        background-color: var(--foxybdr-input-bg-color);
        color: var(--foxybdr-input-t-color);
    }

.foxybdr-input-choose {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 4px;
}

    .foxybdr-input-choose > .foxybdr-button {
        position: relative;
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0px;
        border-radius: 4px;
        background-color: var(--foxybdr-input-bg-color);
        color: var(--foxybdr-popup-input-bg-color);
        font-size: 12px;
        line-height: 1.0;
        cursor: pointer;
    }

    .foxybdr-input-choose > .foxybdr-button.foxybdr-selected {
        background-color: var(--foxybdr-popup-input-bg-color);
        color: var(--foxybdr-input-t-color);
    }

    .foxybdr-input-choose > .foxybdr-button:hover {
        color: var(--foxybdr-input-t-color);
    }

    .foxybdr-input-choose > .foxybdr-button:active {
        top: 2px;
    }

.foxybdr-input-switcher {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 4px 0px;
}

    .foxybdr-input-switcher .foxybdr-track {
        position: relative;
        width: 50px;
        height: 20px;
        display: flex;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-radius: 10px;
        padding: 0px 4px;
        background-color: #2c2c2c;
        cursor: pointer;
    }

    .foxybdr-input-switcher .foxybdr-track:hover {
        border-color: var(--foxybdr-input-t-color);
    }

        .foxybdr-input-switcher .foxybdr-label {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .foxybdr-input-switcher .foxybdr-label > span {
                color: transparent;
                font-family: var(--foxybdr-general-font);
                font-size: 10px;
                font-weight: normal;
                line-height: 1.0;
            }

            .foxybdr-input-switcher.foxybdr-selected .foxybdr-label:nth-child(1) > span {
                color: var(--foxybdr-popup-input-bg-color);
            }

            .foxybdr-input-switcher:not(.foxybdr-selected) .foxybdr-label:nth-child(2) > span {
                color: var(--foxybdr-popup-input-bg-color);
            }

        .foxybdr-input-switcher .foxybdr-handle {
            position: absolute;
            top: 0px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            transition: left linear 0.1s;
        }

        .foxybdr-input-switcher:not(.foxybdr-selected) .foxybdr-handle {
            left: 0px;
            background-color: var(--foxybdr-popup-input-bg-color);
        }

        .foxybdr-input-switcher.foxybdr-selected .foxybdr-handle {
            left: calc(100% - 18px);
            background-color: var(--foxybdr-input-t-color);
        }

.foxybdr-input-number {
    width: 64px;
    border-width: 0px;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--foxybdr-input-bg-color);
    color: var(--foxybdr-input-t-color);
    font-family: var(--foxybdr-general-font);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.0;
}

.foxybdr-input-number::placeholder {
    color: var(--foxybdr-input-p-color);
}

.foxybdr-input-slider {
    width: 100%;
    display: flex;
}

    .foxybdr-input-slider > div:nth-child(1) {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
    }

        .foxybdr-input-slider .foxybdr-track {
            position: relative;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: #2c2c2c;
            cursor: pointer;
        }

            .foxybdr-input-slider .foxybdr-handle {
                position: absolute;
                left: var(--foxybdr-position);
                top: 50%;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: var(--foxybdr-input-bg-color);
                transform: translateX(-50%) translateY(-50%);
                --foxybdr-position: 0%;
            }

            .foxybdr-input-slider .foxybdr-handle:hover,
            .foxybdr-input-slider .foxybdr-handle.foxybdr-dragging {
                background-color: var(--foxybdr-input-p-color);
            }

    .foxybdr-input-slider > div:nth-child(2) {
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: 8px;
    }
        
        .foxybdr-input-slider input[type='number'] {
            width: 64px;
            border-width: 0px;
            border-radius: 4px;
            padding: 8px;
            background-color: var(--foxybdr-input-bg-color);
            color: var(--foxybdr-input-t-color);
            font-family: var(--foxybdr-general-font);
            font-size: 12px;
            font-weight: normal;
            line-height: 1.0;
        }

        .foxybdr-input-slider input[type='number']::placeholder {
            color: var(--foxybdr-input-p-color);
        }

.foxybdr-input-dimensions {
    width: 100%;
    display: flex;
    justify-content: center;
    --foxybdr-number-input-width: 60px;
    --foxybdr-number-input-height: 28px;
    --foxybdr-number-input-spacing: 4px;
}

    .foxybdr-input-dimensions > div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foxybdr-input-dimensions:not(.foxybdr-corners) > div {
        width: calc(var(--foxybdr-number-input-width) * 3 + var(--foxybdr-number-input-spacing) * 2);
        height: calc(var(--foxybdr-number-input-height) * 3 + var(--foxybdr-number-input-spacing) * 2);
    }

    .foxybdr-input-dimensions.foxybdr-corners > div {
        width: calc(var(--foxybdr-number-input-width) * 2 + var(--foxybdr-number-input-height) + var(--foxybdr-number-input-spacing) * 2);
        height: calc(var(--foxybdr-number-input-height) * 3 + var(--foxybdr-number-input-spacing) * 2);
    }

        .foxybdr-input-dimensions .foxybdr-lock-button {
            position: relative;
            width: var(--foxybdr-number-input-height);
            height: var(--foxybdr-number-input-height);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #2c2c2c;
            color: var(--foxybdr-popup-input-bg-color);
            font-size: 12px;
            line-height: 1.0;
            cursor: pointer;
        }

        .foxybdr-input-dimensions .foxybdr-lock-button:hover {
            background-color: var(--foxybdr-input-bg-color);
            color: var(--foxybdr-input-t-color);
        }

        .foxybdr-input-dimensions .foxybdr-lock-button:active {
            top: 2px;
        }

            .foxybdr-input-dimensions .foxybdr-lock-button > span.dashicons {
                display: none;
                transition: none;
            }

            .foxybdr-input-dimensions .foxybdr-lock-button.foxybdr-locked > span.dashicons-lock,
            .foxybdr-input-dimensions .foxybdr-lock-button:not(.foxybdr-locked) > span.dashicons-unlock {
                display: block;
            }

        .foxybdr-input-dimensions input[type='number'] {
            position: absolute;
            width: var(--foxybdr-number-input-width);
            border-width: 0px;
            border-radius: 4px;
            padding: 8px;
            background-color: var(--foxybdr-input-bg-color);
            color: var(--foxybdr-input-t-color);
            font-family: var(--foxybdr-general-font);
            font-size: 12px;
            font-weight: normal;
            line-height: 1.0;
            text-align: center;
        }

        .foxybdr-input-dimensions input[type='number']::placeholder {
            color: var(--foxybdr-input-p-color);
        }

        .foxybdr-input-dimensions:not(.foxybdr-corners) input.foxybdr-left {
            left: 0%;
            top: 50%;
            transform: translate(0%, -50%);
        }
        .foxybdr-input-dimensions:not(.foxybdr-corners) input.foxybdr-top {
            left: 50%;
            top: 0%;
            transform: translate(-50%, 0%);
        }
        .foxybdr-input-dimensions:not(.foxybdr-corners) input.foxybdr-right {
            right: 0%;
            top: 50%;
            transform: translate(0%, -50%);
        }
        .foxybdr-input-dimensions:not(.foxybdr-corners) input.foxybdr-bottom {
            left: 50%;
            bottom: 0%;
            transform: translate(-50%, 0%);
        }

        .foxybdr-input-dimensions.foxybdr-corners input.foxybdr-left {
            left: 0%;
            top: 0%;
        }
        .foxybdr-input-dimensions.foxybdr-corners input.foxybdr-top {
            right: 0%;
            top: 0%;
        }
        .foxybdr-input-dimensions.foxybdr-corners input.foxybdr-right {
            right: 0%;
            bottom: 0%;
        }
        .foxybdr-input-dimensions.foxybdr-corners input.foxybdr-bottom {
            left: 0%;
            bottom: 0%;
        }

.foxybdr-input-url {
    width: 100%;
    border-width: 0px;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--foxybdr-input-bg-color);
    color: var(--foxybdr-input-t-color);
    font-family: var(--foxybdr-general-font);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.0;
}

.foxybdr-input-url::placeholder {
    color: var(--foxybdr-input-p-color);
}

.foxybdr-input-color {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

    .foxybdr-input-color > div {  /* The buttons. */
        position: relative;
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0px;
        border-radius: 4px;
        background-color: var(--foxybdr-input-bg-color);
        color: var(--foxybdr-popup-input-bg-color);
        font-size: 12px;
        line-height: 1.0;
        cursor: pointer;
    }

    .foxybdr-input-color .foxybdr-global-button.foxybdr-enabled {
        background-color: var(--foxybdr-popup-input-bg-color);
        color: var(--foxybdr-input-t-color);
    }

    .foxybdr-input-color .foxybdr-global-button:hover {
        color: var(--foxybdr-input-t-color);
    }

    .foxybdr-input-color.foxybdr-is-global .foxybdr-global-button {
        display: none;
    }

        .foxybdr-input-color .foxybdr-global-button > .dashicons {
            position: relative;
            left: 1px;
            top: 1px;
        }

    .foxybdr-input-color .foxybdr-color-button {
        --foxybdr-color: transparent;
    }

    .foxybdr-input-color .foxybdr-color-button.foxybdr-enabled {
        background-color: var(--foxybdr-color);
    }

        .foxybdr-input-color .foxybdr-color-button > img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }

        .foxybdr-input-color .foxybdr-color-button.foxybdr-enabled > img {
            display: none;
        }

        .foxybdr-input-color .foxybdr-global-dropdown {
            width: 200px;
            max-height: 260px;
        }

            .foxybdr-input-color .foxybdr-global-dropdown .foxybdr-body {
                padding: 0px;
                overflow-y: auto;
                scrollbar-width: thin;
                scroll-behavior: smooth;
                scrollbar-color: #80808040 #ffffff20;
            }

        .foxybdr-input-color .foxybdr-custom-dropdown {
            width: 246px;
        }

            .foxybdr-input-color.foxybdr-is-global .foxybdr-custom-dropdown .foxybdr-title-bar .dashicons.dashicons-trash {
                display: none;
            }

.foxybdr-input-color-picker {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

    .foxybdr-input-color-picker > div:not(.foxybdr-code-container) {
        position: relative;
        cursor: pointer;
    }

    .foxybdr-input-color-picker .foxybdr-main-track {
        height: 150px;
    }

    .foxybdr-input-color-picker .foxybdr-hue-track {
        height: 8px;
        border-radius: 4px;
        background-image: url('../images/control_color_hue.jpg');
        background-position: 0% 0%;
        background-size: 100% 100%;
    }

    .foxybdr-input-color-picker .foxybdr-opacity-track {
        height: 8px;
        border-radius: 4px;
        background-image: url('../images/control_color_opacity.png');
        background-position: 0% 0%;
        background-size: 100% 100%;
    }

        .foxybdr-input-color-picker > div > canvas {
            width: 100%;
            height: 100%;
        }

        .foxybdr-input-color-picker .foxybdr-handle {
            position: absolute;
            left: var(--foxybdr-position-x);
            top: var(--foxybdr-position-y);
            width: 18px;
            height: 18px;
            border: 2px solid #c0c0c0;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            --foxybdr-position-x: 0%;
            --foxybdr-position-y: 0%;
        }

        .foxybdr-input-color-picker .foxybdr-hue-track .foxybdr-handle,
        .foxybdr-input-color-picker .foxybdr-opacity-track .foxybdr-handle {
            top: 50%;
        }

        .foxybdr-input-color-picker input[type="text"] {
            width: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            border-width: 0px;
            border-radius: 4px;
            padding: 8px;
            background-color: var(--foxybdr-input-bg-color);
            color: var(--foxybdr-input-t-color);
            font-family: var(--foxybdr-general-font);
            font-size: 12px;
            font-weight: normal;
            line-height: 1.0;
            text-transform: uppercase;
        }

        .foxybdr-input-color-picker .foxybdr-code-buttons {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 1;
            padding-top: 8px;
        }

            .foxybdr-input-color-picker .foxybdr-code-buttons > span {
                color: var(--foxybdr-popup-input-bg-color);
                font-family: var(--foxybdr-general-font);
                font-size: 10px;
                line-height: 1.0;
                cursor: pointer;
            }

            .foxybdr-input-color-picker .foxybdr-code-buttons > span.foxybdr-selected {
                color: var(--foxybdr-input-t-color);
            }

            .foxybdr-input-color-picker .foxybdr-code-buttons > span:hover {
                color: var(--foxybdr-input-t-color);
            }

.foxybdr-input-color-global-row {
    display: flex;
    cursor: pointer;
    --foxybdr-column-1-width: 32px;
    --foxybdr-column-3-width: 32px;
}

.foxybdr-input-color-global-row.foxybdr-selected {
    background-color: var(--foxybdr-input-bg-color);
}

.foxybdr-input-color-global-row:not(.foxybdr-selected):hover {
    background-color: #2c2c2c;
}

    .foxybdr-input-color-global-row > div {
        padding: 8px;
    }

    .foxybdr-input-color-global-row > div:nth-child(1) {
        width: var(--foxybdr-column-1-width);
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .foxybdr-input-color-global-row > div:nth-child(1) > div {
            width: 16px;
            height: 16px;
            border-width: 0px;
            border-radius: 2px;
        }

    .foxybdr-input-color-global-row > div:nth-child(2) {
        width: calc(100% - var(--foxybdr-column-1-width) - var(--foxybdr-column-3-width));
        display: flex;
        align-items: center;
        padding-left: 0px;
        overflow-x: hidden;
    }

        .foxybdr-input-color-global-row > div:nth-child(2) > span {
            color: var(--foxybdr-popup-input-bg-color);
            font-size: 12px;
            line-height: 1.0;
            white-space: nowrap;
        }

        .foxybdr-input-color-global-row.foxybdr-selected > div:nth-child(2) > span,
        .foxybdr-input-color-global-row:hover > div:nth-child(2) > span {
            color: var(--foxybdr-input-t-color);
        }

    .foxybdr-input-color-global-row > div:nth-child(3) {
        width: var(--foxybdr-column-3-width);
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .foxybdr-input-color-global-row > div:nth-child(3) > span {
            color: var(--foxybdr-input-t-color);
            font-size: 16px;
            line-height: 1.0;
            visibility: hidden;
        }

        .foxybdr-input-color-global-row.foxybdr-selected > div:nth-child(3) > span {
            visibility: visible;
        }

.foxybdr-control-dropdown {
    position: absolute;
    right: 0px;
    top: calc(100% + 8px);
    width: 200px;
    z-index: 10;
    display: none;
    flex-direction: column;
    border-radius: 4px;
    background-color: var(--foxybdr-general-bg-color);
    color: var(--foxybdr-general-t-color);
    line-height: 1.0;
    box-shadow: var(--foxybdr-popup-shadow);
    cursor: default;
}

.foxybdr-control-dropdown.foxybdr-show {
    display: flex;
}

    .foxybdr-control-dropdown .foxybdr-title-bar {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        border-style: solid;
        border-color: var(--foxybdr-general-br-color);
        border-width: 0px 0px 1px 0px;
    }

        .foxybdr-control-dropdown .foxybdr-title-bar > div {
            display: flex;
            align-items: center;
            gap: 4px;
        }

            .foxybdr-control-dropdown .foxybdr-title-bar .foxybdr-title {
                font-size: 12px;
            }

            .foxybdr-control-dropdown .foxybdr-title-bar .dashicons {
                display: block;
                border-radius: 2px;
                padding: 2px;
                color: var(--foxybdr-popup-input-bg-color);
                font-size: 14px;
                cursor: pointer;
            }

            .foxybdr-control-dropdown .foxybdr-title-bar .dashicons:hover {
                background-color: var(--foxybdr-popup-input-bg-color);
                color: var(--foxybdr-input-t-color);
            }

    .foxybdr-control-dropdown .foxybdr-body {
        padding: 8px;
    }

.foxybdr-input-media {
    position: relative;
    width: 100%;
    aspect-ratio: 300 / 128;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-color: var(--foxybdr-input-bg-color);
    cursor: pointer;
    --foxybdr-background-image-url: none;
}

.foxybdr-input-media.foxybdr-assigned {
    background-image: var(--foxybdr-background-image-url);
}

    .foxybdr-input-media > .dashicons {
        position: absolute;
        width: auto;
        height: auto;
        display: block;
        border-radius: 2px;
        padding: 2px;
        color: var(--foxybdr-popup-input-bg-color);
        line-height: 1.0;
        cursor: pointer;
        transition: all linear 0.2s;
    }

    .foxybdr-input-media .dashicons-insert {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }

    .foxybdr-input-media.foxybdr-assigned .dashicons-insert {
        display: none;
    }

    .foxybdr-input-media:hover .dashicons-insert {
        color: var(--foxybdr-input-t-color);
    }

    .foxybdr-input-media .dashicons-trash {
        right: 4px;
        top: 4px;
        display: none;
        background-color: var(--foxybdr-general-bg-color);
        color: var(--foxybdr-input-t-color);
        font-size: 16px;
        opacity: 0.0;
    }

    .foxybdr-input-media.foxybdr-assigned .dashicons-trash {
        display: block;
    }

    .foxybdr-input-media:hover .dashicons-trash {
        opacity: 1.0;
    }
