body {
    --foxybdr-widget-min-width: 25px;
    --foxybdr-widget-min-height: 25px;
}

.foxybdr-icon {
    display: inline-block;
    padding: 0.5em;
    font-size: 50px;
    line-height: 1.0;
    text-align: center;
    text-decoration: none;
    transition: all linear var(--foxybdr-global-transition-duration, 0s);
}

    .foxybdr-icon i {
        position: relative;
        width: 1em;
        height: 1em;
        display: block;
    }

        .foxybdr-icon i:before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

.foxybdr-button {
    display: inline-block;
    text-decoration: none;
    transition: all linear var(--foxybdr-global-transition-duration, 0s);
}

    .foxybdr-button > span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        transition: all linear var(--foxybdr-global-transition-duration, 0s);
    }

        .foxybdr-button > span > i {
            position: relative;
        }

.foxybdr-template * {
	box-sizing: border-box;
}

.foxybdr-widget {
	position: relative;
    width: 100%;
    transition: all linear var(--foxybdr-global-transition-duration, 0s);
}

    .foxybdr-widget-container {
        position: relative;
        transition: all linear var(--foxybdr-global-transition-duration, 0s);
    }

    .foxybdr-editor .foxybdr-widget-container {
        min-width: var(--foxybdr-widget-min-width);
        min-height: var(--foxybdr-widget-min-height);
        user-select: none;
    }

[foxybdr-widget-type="foxybdr.layout.section"] {
    width: auto;
}

    [foxybdr-widget-type="foxybdr.layout.section"] > .foxybdr-widget-container {
        display: flex;
    }

[foxybdr-widget-type="foxybdr.layout.column"] {
    display: flex;
    flex: var(--foxybdr-column-width, 1) var(--foxybdr-column-width, 1) 0;
}

    [foxybdr-widget-type="foxybdr.layout.column"] > .foxybdr-widget-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: var(--foxybdr-widget-spacing, 0px);
    }

[foxybdr-widget-type="foxybdr.layout.block"] {
    display: flex;
    width: var(--foxybdr-block-width, 100%);
}

    [foxybdr-widget-type="foxybdr.layout.block"] > .foxybdr-widget-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: var(--foxybdr-widget-spacing, 0px);
    }

[foxybdr-widget-type="foxybdr.layout.component"] {
    display: flex;
    width: var(--foxybdr-block-width, 100%);
}

    [foxybdr-widget-type="foxybdr.layout.component"] > .foxybdr-widget-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: var(--foxybdr-widget-spacing, 0px);
    }

/* For front-end @media style rules, see (1) "foxybdr.settings.site" widget in site.php under "Breakpoints" tab section, (2) site-init.json file. */

[foxybdr-widget-type="foxybdr.basic.heading"] .foxybdr-title > a {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

[foxybdr-widget-type="foxybdr.basic.text"] .foxybdr-text > p:first-child {
    margin-top: 0px;
}

[foxybdr-widget-type="foxybdr.basic.text"] .foxybdr-text > p:last-child {
    margin-bottom: 0px;
}

[foxybdr-widget-type="foxybdr.basic.image"] img {
    max-width: 100%;
    transition: all linear var(--foxybdr-global-transition-duration, 0s);
}
