.foxybdr-template.foxybdr-post-content {
	min-height: 25px;
}

.foxybdr-drag-drop-insert {
	position: relative;
	height: 0px;
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: rgba(255, 0, 0, 0.25);
	transition: height linear 0.2s;
}

.foxybdr-drag-drop-insert.foxybdr-show {
	height: 20px;
}

	.foxybdr-drag-drop-insert canvas {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
	}

.foxybdr-overlay {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	border: 1px solid #ff0000;
	pointer-events: none;
}

	.foxybdr-widget[foxybdr-widget-type="foxybdr.layout.column"] > .foxybdr-overlay,
	.foxybdr-widget[foxybdr-widget-type="foxybdr.layout.block"] > .foxybdr-overlay {
		border: 1px dashed #808080;
	}

	.foxybdr-widget:hover > .foxybdr-overlay,
	.foxybdr-widget.foxybdr-context-menu-hover > .foxybdr-overlay {
		display: block;
	}

	.foxybdr-widget.foxybdr-selected > .foxybdr-overlay {
		border-width: 2px;
		border-style: solid;
		display: block;
	}

	.foxybdr-overlay-action {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 25px;
		height: 25px;
		display: none;
		justify-content: center;
		align-content: center;
		align-items: center;
		border-radius: 0px 0px 0px 4px;
		background-color: #ff0000;
		color: #ffffff;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-size: 16px;
		line-height: 1.0;
		user-select: none;
		cursor: pointer;
		pointer-events: auto;
	}

		.foxybdr-widget[foxybdr-widget-type="foxybdr.layout.section"] > .foxybdr-overlay > .foxybdr-overlay-action {
			right: auto;
			left: 50%;
			border-radius: 4px 4px 0px 0px;
			transform: translate(-50%, -100%);
		}

		.foxybdr-widget[foxybdr-widget-type="foxybdr.layout.column"] > .foxybdr-overlay > .foxybdr-overlay-action,
		.foxybdr-widget[foxybdr-widget-type="foxybdr.layout.block"] > .foxybdr-overlay > .foxybdr-overlay-action {
			right: auto;
			left: 0px;
			border-radius: 0px 0px 4px 0px;
			background-color: #c0c0c0;
			color: #404040;
		}

		.foxybdr-widget:hover > .foxybdr-overlay > .foxybdr-overlay-action,
		.foxybdr-widget.foxybdr-context-menu-hover > .foxybdr-overlay > .foxybdr-overlay-action {
			display: flex;
		}

.foxybdr-context-menu {
	position: fixed;
	z-index: 9999;
	left: -1000px;
	top: -1000px;
	width: 300px;
	display: none;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px;
}

	.foxybdr-context-menu.foxybdr-show {
		display: block;
	}

	.foxybdr-context-menu > .foxybdr-context-menu-item {
		padding: 8px;
		background-color: #ffffff;
		color: #606060;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.0;
		user-select: none;
		cursor: pointer;
	}

	.foxybdr-context-menu > .foxybdr-context-menu-item:first-child {
		border-radius: 4px 4px 0px 0px;
	}

	.foxybdr-context-menu > .foxybdr-context-menu-item:last-child {
		border-radius: 0px 0px 4px 4px;
	}

	.foxybdr-context-menu > .foxybdr-context-menu-item:hover {
		background-color: #606060;
		color: #ffffff;
	}
